.recipe {
  height: 100%;
  width: 100%;
  flex: 1;
  color: white;

  display: flex;
  flex-direction: column;

  .content {
    height: calc(100% - 60px);
    background-color: #0f051be8;
    overflow-y: auto;

    .title, #title {
      margin: 20px 0;
      font-size: 26px;
      font-weight: bold;
      text-align: center;
      letter-spacing: 1px;
    }

      #title {
        margin: 0;
        padding: 0;
        vertical-align: text-bottom;
      }
  }
}

.dynamic,
.static,
.static div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.dynamic, .static {
  padding: 0 10px 15px;
}

.container {
  max-width: fit-content;

  display: flex;
  flex-direction: column;
  align-items: stretch;
}

label, .ingredients, .prodecure {
  margin-top: 10px;
}

label,
textarea,
.area-name,
.container {
  font-size: 16px;
  letter-spacing: 1px;
  // z-index: 10;
  color: white;
}

label,
.area-name {
  text-align: center;
  font-size: 17px;
}

textarea {
    max-height: fit-content;
    max-width: 100%;
    line-height: 2;
    padding: 10px;
    background: none;
    border: none;
    font-family: inherit;
    resize: none;
    outline: none;
}

.container {
  line-height: 2;
  max-width: 100%;
  padding: 10px;
}

label,
.area-name {
  text-align: center;
}

.button {
  font-family: inherit;

  display: flex;
  justify-content: flex-end;

  button {
    margin-right: 10px;
    background: none;
    border: none;
    cursor: pointer;
  }
}

.recipe .control {
  height: 60px;
  background-color: #0f051b;

  display: flex;
  justify-content: space-between;
  align-items: stretch;

  div {
    height: 60px;
    width: 60px;

    display: flex;
    justify-content: center;
    align-items: center;
  }
}
