.library {
  height: 100%;
  width: 100%;
  overflow: auto;
  color: white;

  &:before {
    content: '';
    background: linear-gradient(to bottom, #090019, #714900c9);
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .delete-menu {
    width: 100%;
    color: white;
    cursor: pointer;
    background-color: #12071b;
    z-index: 10;
    position: fixed;

    display: flex;
    align-items: center;
    justify-content: space-between;

    .checkbox-wrapper {
      margin-left: 25px;

      label {
        margin: 0 10px;
      }
    }

    button {
      background: none;
      font-family: inherit;
      border: none;
      color: white;
      cursor: pointer;
      padding: 5px 10px;

      &.cancel {
        margin-right: 15px;
      }
    }
  }

  .header {
    width: 100%;
    color: white;
    cursor: pointer;
    background-color: #12071b;
    z-index: 10;
    position: fixed;

    display: flex;
    align-items: center;

    span {
      padding: 10px;
      font-weight: bold;
    }

    .fas.fa-bars {
      padding: 22px;
    }
  }
}

.item .icon .far {
  margin-right: 8px;
  padding: 3px;
}

.recipes {
  margin-top: 60px;
  position: relative;
  z-index: 9;
  overflow-y: auto;

  display: flex;

  .item, .item-checkbox {
    margin: 10px;
    cursor: pointer;
  }

  .item-checkbox input {
    margin-right: 10px;
  }
}

// styles for list view

.recipes.list {
  padding: 10px 20px;

  &.new-first {
    flex-direction: column-reverse;
  }

  &.old-first {
    flex-direction: column;
  }

  .item, .item-checkbox {
    padding: 10px;
    box-shadow: inset 0 -1px 0px 0px #ffffff21;

    display: flex;
    align-items: center;
  }
}

// styles for gallery view
.recipes.gallery {
  padding: 10px;

  flex-wrap: wrap;
  justify-content: center;

  &.new-first {
    flex-direction: row-reverse;
  }

  &.old-first {
    flex-direction: row;
  }

  .item {
    width: 27%;

    display: flex;
    flex-direction: column;
    align-items: center;

    .name {
      text-align: center;
    }
  }
}
