.pop-up {
  min-height: 100px;
  padding: 17px 15px 5px;
  background-color: #3d2b4e;
  color: white;
  border-top: 24px solid #21141f;
  position: fixed;
  z-index: 100;
  bottom: 45%;
  left: 50%;
  transform: translate(-50%);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;

  div {
    width: 100%;
    padding: 7px;

    display: flex;
    align-items: center;
    justify-content: space-around;

    &:nth-child(2) {
      margin-top: 10px;
    }

    input {
      padding: 5px 0 3px 8px;
      color: white;
      font-size: 17px;
      background: none;
      border: none;
      outline: none;
      border-bottom: 1px solid white;
    }

    i.fa-folder {
      font-size: 25px;
    }

    button {
      background: none;
      border: none;
      font-size: 20px;
      cursor: pointer;

      .fa-check {
        color: green;
      }

      .fa-times {
        color: red;
      }
    }
  }
}
