$rainbow: linear-gradient(90deg,
rgba(255,55,0,1) 2%,
rgba(255,124,0,1) 6%,
rgba(255,171,0,1) 11%,
rgba(255,205,0,1) 17%,
rgba(255,248,0,1) 22%,
rgba(203,251,0,1) 29%,
rgba(86,255,0,1) 35%,
rgba(0,255,128,1) 43%,
rgba(0,255,252,1) 51%,
rgba(0,226,253,1) 55%,
rgba(0,188,254,1) 59%,
rgba(0,129,255,1) 67%,
rgba(0,91,255,1) 73%,
rgba(115,0,255,1) 80%,
rgba(149,0,255,1) 87%,
rgba(187,0,243,1) 93%,
rgba(255,0,228,1) 100%);

.sidebar-wrapper {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 25;
  transition: all .3s ease-in-out 0s;
}

.sidebar-wrapper .overlay {
  width: 100%;
  opacity: 0;
  transform: scale(0);
  background: #40404070;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 21;
  transition: all .3s ease-in-out 0s;
  }

.sidebar-wrapper .sidebar {
  height: 100%;
  width: 80%;
  background: #fff;
  transform: translateX(-100%);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 31;
  transition: all .3s ease-in-out 0s;
  overflow-y: auto;

  .menu-icon {
    background-color: #c54737;
    color: white;
    cursor: pointer;

    display: flex;
    align-items: center;

    span {
      font-size: 23px;
      font-weight: bold;
      flex: 1;
    }

    i {
      height: 60px;
      width: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 19px;
    }
  }
}

.sidebar-wrapper .sidebar .menu {
  height: 100%;
  background-color: white;
  position: relative;

  display: flex;
  flex-direction: column;

  &:before {
    content: "";
    display: block;
    position: absolute;
    background-image: $rainbow;
    height: 2px;
    width: 100%;
  }

  .menu-item {
    width: 100%;
    color: black;
    box-shadow: inset 0 -1px 2px 0px #f4cdbc;
    cursor: pointer;

    .name {
      font-size: 20px;
      padding: 20px 0;

      display: flex;
      align-items: center;

      &:hover {
        background-color: #f4d2d38a;
        box-shadow: none;
      }

      i {
        margin: 0 20px;
        color: #e56666;
      }
    }

    .submenu {
      z-index: -1;
      height: 0;
      overflow: hidden;
      width: 100%;
      background-color: #ffdb7633;

      .submenu-item {
        height: 50px;
        padding-left: 50px;
        font-size: 20px;
        color: black;
        cursor: pointer;

        display: flex;
        align-items: center;

        &:hover {
          background-color: #f4d2d38a;
        }

        i {
          margin: 0 15px 0 10px;
          color: #e56666;
        }

        &.with-dropdown {
          box-shadow: inset 0 -1px 2px 0px #cc32324d;

          &:hover {
            background-color: initial;
          }
        }

        &.dropdown {
          padding-left: 75px;

          i {
            margin-right: 10px;
          }
        }
      }
    }
  }
}

.sidebar-wrapper .sidebar .menu  .menu-item.active-item {
  .fas.fa-angle-right {
    transform: rotate(90deg);
  }

  .name {
    background-color: #f4d2d3;
  }

  .submenu {
    height: fit-content;
    overflow: visible;
    display: block;
  }
}

.active .overlay {
  opacity: 1;
  transform: scale(1);
}

.active .sidebar {
  transform: translateX(0);

  .menu-icon {
    width: 100%;
  }
}
