$rainbow: linear-gradient(90deg,
rgba(255,55,0,1) 2%,
rgba(255,124,0,1) 6%,
rgba(255,171,0,1) 11%,
rgba(255,205,0,1) 17%,
rgba(255,248,0,1) 22%,
rgba(203,251,0,1) 29%,
rgba(86,255,0,1) 35%,
rgba(0,255,128,1) 43%,
rgba(0,255,252,1) 51%,
rgba(0,226,253,1) 55%,
rgba(0,188,254,1) 59%,
rgba(0,129,255,1) 67%,
rgba(0,91,255,1) 73%,
rgba(115,0,255,1) 80%,
rgba(149,0,255,1) 87%,
rgba(187,0,243,1) 93%,
rgba(255,0,228,1) 100%);

.control {
  height: 10%;
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  background-color: #313131;

  display: flex;

  &:after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 100%;
    background: rgb(255,55,0);
    background-image: $rainbow;
  }

  button {
    font-size: 1rem;
    flex: 1;
    border: none;
    background-color: inherit;
    color: #cacaca;
    cursor: pointer;
    border-right: 1px solid #8080803d;

    &:last-child {
      border: none;
    }

    &:hover {
      background-color: rgba(255,255,255,0.1);
    }
  }
}
