@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');

html, body, #app, .app {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Crimson Text', serif;
}

body {
  color: black;
}

.recipe, .library {
  position: relative;
  background: url(https://us.123rf.com/450wm/zhemchuzhina/zhemchuzhina1509/zhemchuzhina150900006/44465417-stock-vector-food-and-drink-outline-seamless-pattern-hand-drawn-kitchen-background-in-black-and-white-vector-illu.jpg?ver=6);
}

.app.large {
  .pop-up {
    input {
      font-size: 19px;
    }

    button {
      font-size: 23px;
    }
  }

  .sidebar {
    .menu-icon {
      height: 65px;
      font-size: 28px;
    }

    .menu-item .name {
      font-size: 24px;

      i {
        font-size: 16px;
      }
    }

    .submenu-item {
      font-size: 24px;

      i {
        font-size: 16px;
      }
    }
  }

  .library {
    .recipes.list {
      .item {
        font-size: 24px;
      }
    }

    .recipes.gallery .item {
      font-size: 22px;
    }

    .header {
      height: 65px;
      font-size: 28px;
    }

    .far.fa-folder {
      font-size: 45px;
    }
  }


  .fas.fa-bars {
    font-size: 20px;
  }

  .recipe {
    .control {
      height: 60px;
      font-size: 21px;
    }

    lable,
    .area-name {
      font-size: 22px;
    }

    .title, #title {
      font-size: 28px;
    }

    .container, #ingredients, #procedure {
      font-size: 25px;
    }
  }
}

// default
.app.medium {
  .pop-up {
    input {
      font-size: 18px;
    }

    button {
      font-size: 20px;
    }
  }

  .sidebar {
    .menu-icon {
      height: 60px;
      font-size: 24px;
    }

    .menu-item .name {
      font-size: 21px;

      i {
        font-size: 14px;
      }
    }

    .submenu-item {
      font-size: 21px;

      i {
        font-size: 14px;
      }
    }
  }

  .library {
    .recipes.list {
      .item {
        font-size: 21px;
      }
    }

    .recipes.gallery .item {
      font-size: 19px;
    }

    .header {
      height: 60px;
      font-size: 24px;
    }

    .far.fa-folder {
      font-size: 40px;
    }
  }

  .fas.fa-bars {
    font-size: 19px;
  }

  .recipe {
    .control {
      height: 60px;
      font-size: 18px;
    }

    lable,
    .area-name {
      font-size: 19px;
    }

    .title, #title {
      font-size: 26px;
    }

    .container, #ingredients, #procedure {
      font-size: 21px;
    }
  }
}

.app.small {
  .pop-up {
    input {
      font-size: 15px;
    }

    button {
      font-size: 17px;
    }
  }

  .sidebar {
    .menu-icon {
      height: 60px;
      font-size: 21px;
    }

    .menu-item .name {
      font-size: 18px;

      i {
        font-size: 12px;
      }
    }

    .submenu-item {
      font-size: 18px;

      i {
        font-size: 12px;
      }
    }
  }

  .library {
    .recipes.list {
      .item {
        font-size: 18px;
      }
    }

    .recipes.gallery .item {
      font-size: 17px;
    }

    .header {
      height: 60px;
      font-size: 21px;
    }

    .far.fa-folder {
      font-size: 40px;
    }
  }

  .fas.fa-bars {
    font-size: 13px;
  }

  .recipe {
    .control {
      height: 60px;
      font-size: 15px;
    }

    lable,
    .area-name {
      font-size: 17px;
    }

    .title, #title {
      font-size: 21px;
    }

    .container, #ingredients, #procedure {
      font-size: 18px;
    }
  }
}




*::-webkit-scrollbar {
  width: 3px;
  background-color: #241b2f;
}

*::-webkit-scrollbar-thumb {
  background-color: #473a70;
}
