@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');

html, body, #app, .app {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Crimson Text', serif;
}

body {
  color: black;
}

.recipe, .library {
  position: relative;
  background: url(https://us.123rf.com/450wm/zhemchuzhina/zhemchuzhina1509/zhemchuzhina150900006/44465417-stock-vector-food-and-drink-outline-seamless-pattern-hand-drawn-kitchen-background-in-black-and-white-vector-illu.jpg?ver=6);
}


*::-webkit-scrollbar {
  width: 3px;
  background-color: #241b2f;
}

*::-webkit-scrollbar-thumb {
  background-color: #473a70;
}
